<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#712cf9">
    <title>I RENT YOU</title>

    {% load static %}

    {% include 'base/css.html' %}

    {% include 'base/js.html' %}
    
    {% block style %}{% endblock %}


  </head>
<body>
<header> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand logo-container" href="{% url 'home' %}">
        {% load static %}
        <img src="{% static '#' %}"
          alt="logo I Rent You"
          class="logo-navbar"
        />
        <strong class="logo-text">I RENT YOU</strong>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarResponsive">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto"> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'property:list' %}">Propiedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:about' %}">Acerca de nosotros</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                {% if request.user.roll == 'lessor' %}
                  <li><a class="dropdown-item" href="{% url 'user:notify' %}">Notificaciones</a></li>
                  <li><a class="dropdown-item" href="{% url 'property:create' %}">Crear Propiedad</a></li>
                  <li><a class="dropdown-item" href="{% url 'user:lessor-properties' %}">Mis Propiedad</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'user:profile' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'user:password_change' %}">Cambiar Contraseña</a></li>
                <li><a class="dropdown-item" href="{% url 'user:logout' %}">Salir</a></li>
              </ul>
            </li>
        
          {% else %}
          </ul>
            <div class="my-2 my-lg-0 ">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn" href="{% url 'user:login' %}"><i class="mdi mdi-login"></i> Ingresar</a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-primary btn" href="{% url 'user:register' %}"><i class="mdi mdi-shield-account"></i> Registrarse</a>
                </li>
            </div>
          {% endif %}
        
      </div>
    </div>
  </nav>
</header>

  {% block content %}

      
  {% endblock content %}

</br>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'user:about' %}">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'property:list' %}">Property</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="p{% url 'property:list' %}">Terms</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'user:about' %}">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-social">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="mdi mdi-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="mdi mdi-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="mdi mdi-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="mdi mdi-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        Copyright © 2023 - 
                        <span class="color-a">I Rent You</span> Todos los derechos reservados.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</footer>


</body>
</html>