{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h3 style="color: #007BFF; font-size: 24px; font-weight: bold; text-align: center;">Registro de Usuario</h3>

<br>

<form action="" method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Complete todos los campos</h5>
        {{ form | crispy }}
        <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="{% url 'user:login' %}" class="btn btn-link">¿Ya tienes una cuenta? Iniciar sesión</a>
  </div>
</form>
{% endblock %}
