<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if properties.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">&laquo; Primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ properties.previous_page_number }}" aria-label="Anterior">Anterior</a>
            </li>
        {% endif %}

                {# Clickable page number links #}
        {% for page_num in properties.paginator.page_range %}
            <li class="page-item {% if page_num == properties.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}

        {% if properties.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ properties.next_page_number }}" aria-label="Siguiente">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ properties.paginator.num_pages }}" aria-label="Última">Última &raquo;</a>
            </li>
        {% endif %}
        
    </ul>
</nav>
