{%load static%}

{% block style %}
    <link href='{% static "css/carousel_main.css" %}' rel="stylesheet">
{% endblock %}

<div id="myCarousel" class="carousel slide mb-6 carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true" ></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5500">
        <div class="overlay-image" 
        style="background-image: url('{% static 'img/slider/1-slide.jpg' %}')"></div>
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Descubre tu hogar ideal</h1>
            <p class="opacity-75">Explora nuestra amplia selección de propiedades en las mejores ubicaciones</p>
            <p><a class="btn btn-outline-light btn-lg m-2" href="{% url 'register' %}">¡Regístrate hoy!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="3500">
        <div class="overlay-image" 
          style="background-image: url('{% static 'img/slider/2-slide.jpg' %}')"></div>
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Un sitio donde el usuario es primero</h1>
            <p class="opacity-75">Descubre de manera simple a gestionar tus propiedades y satisfacer tus necesidades y deseos</p>
            <p><a class="btn btn-outline-light btn-lg m-2" href="{% url 'about' %}">¡Obtén más información!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="4000">
        <div class="overlay-image" 
            style="background-image: url('{% static 'img/slider/3-slide.jpg' %}')"></div>
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Explora nuestras propiedades</h1>
            <p class="opacity-75">Sumérgete en un mundo de opciones y encuentra tu próximo hogar</p>
            <p><a class="btn btn-outline-light btn-lg m-2" href="{% url 'property:list' %}">¡Explora la galería!</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>