{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="section-title text-center mb-5">
        <h1 class="pb-2 border-bottom">{{ view_type|title }} Propiedad</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Datos de la Propiedad -->
        <div class="card mb-4 shadow">
            <div class="card-header">
                Datos de la Propiedad
            </div>
            <div class="card-body">
                {{ form|crispy }}
            </div>
        </div>

        <!-- Carga de Imágenes -->
        <div class="card mb-4 shadow">
            <div class="card-header">
                Imágenes de la Propiedad
            </div>
            <div class="card-body">
                <h5>Imágenes actuales:</h5>
                <div class="row">
                    {% for image in property.images.all %}
                        <div class="col-md-4">
                                <div class="image-thumbnail">
                                    <img src="{{ image.images.url }}" class="img-fluid">
                                <p>
                                    <input type="checkbox" name="images_to_delete" value="{{ image.id }}"> Eliminar
                                </p>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                
                <h5>Agregar nuevas imágenes:</h5>
                {{ images_form | crispy }}
            </div>
        </div>

        <!-- Características de la Propiedad -->
        <div class="card mb-4 shadow">
            <div class="card-header">
                Características de la Propiedad
            </div>
            <div class="card-body">
                {{ feature_form|crispy }}
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-lg">{{ view_type|title }} Propiedad</button>
    </form>
</div>

{% endblock content %}
