{% extends 'base.html' %} {% block content %}

{% load static %}



  <div class="container-fluid">
      <section class="main-slider" >

        <div id="intro" class="bg-image shadow-2-strong">
          <div class="mask" 
          style="background-image: url('{% static 'images/background.jpg' %}'); background-size: cover; background-position: center; height: 50vh; loading="lazy"">
            
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                
                    {% include 'property/search_form.html' %}

            </div>

          </div>
        </div>
      </section>
  </div>




  </br>

<div class="container">



  <section class="section" id="property-list">
    <h1>Lista de Propiedades</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for property in properties %}
        <div class="col mb-4" "mb-4"> 
          <div class="card" >
            <img src="{{ property.images.url }}" class="card-img-top img-fluid" alt="Imagen de la propiedad" style="max-height: 400px;" />
            <div class="card-body">
              <h2 class="card-title">{{property.title}}</h2>
              <p class="card-text"><strong>Ubicación:</strong> {{ property.location }}</p>
              <p class="card-text"><strong>Precio de Alquiler:</strong> {{ property.rental_price }}</p>
              <p class="card-text"><strong>Disponibilidad:</strong> {{ property.get_status_display }}</p>
              <a href="{% url 'property:detail' pk=property.id %}" class="btn btn-primary">Detalles</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="col-12">No se encontraron propiedades.</p>
      {% endfor %}
    </div>
  </section>

</div>


{% endblock content %}
