{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="section-title text-center mb-5">
        <h1 class="pb-2 border-bottom" >{{ view_type|title }} nueva Propiedad</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        <!-- Datos de la Propiedad -->
        <div class="card mb-4">
            <div class="card-header">
                Datos de la Propiedad
            </div>
            <div class="card-body">
                {{ form|crispy }}
            </div>
        </div>
         <!-- Carga de Imágenes -->
        <div class="card mb-4">
            <div class="card-header">
                Carga de Imágenes de tu actual propiedad 
            </div>
            <div class="card-body">
                {{ images_form.images  }}  
            </div>
        </div>
        <!-- Características de la Propiedad -->
        <div class="card mb-4">
            <div class="card-header">
                Características de la Propiedad
            </div>
            <div class="card-body">
                {{ feature_form|crispy }}
            </div>
        </div>  

        <button type="submit" class="btn btn-success btn-block">{{ view_type|title }} Propiedad</button>
    </form>
</div>
{% endblock content %}