<div class="container">
    <form method="GET" action="{% url 'property:search' %}" class="property-search-form" role="search" >
        <div class="row g-0 align-items-center justify-content-center">
            <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text rounded-0 border-0"><i class="mdi mdi-home-search"></i></span>
                        <input class="form-control rounded-0 border-0" type="search" name="q" placeholder="Ingresa la propiedad deseada" value="{{ request.GET.q }}" aria-label="Search">
                    </div>
            </div>
            <div class="col-md-3">
                <div class="input-group border-start">
                    <span class="input-group-text rounded-0 border-0"><i class="mdi mdi-home-city"></i></span>
                    <select class="form-select rounded-0 border-0" name="property_type" id="property_type">
                        <option value="">Tipo de propiedad</option>
                        <option value="apartment">Apartamento</option>
                        <option value="house">Casa</option>
                        <option value="room">Habitación</option>
                        <option value="office">Oficina</option>
                        <option value="studio">Aparta-Estudio</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 d-grid gap-2">
                <button type="submit" class="btn btn-primary rounded-0 border-3 fw-bold">BUSCAR</button>
            </div>
        </div>
    </form>
</div>
